<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="chrome"></parameter>
	<listeners>
		<listener class-name="sharecaar_utilities.Login_Reporting"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	  <classes>
		  <!--<class name="sharecaar_testcases.Login_TestCase"></class>-->
		  <!--<class name="sharecaar_testcases.LoginDataDrivenTesting"></class>-->
		  <!--<class name="sharecaar_testcases.SignupDataDrivenTesting"></class>-->
		  <class name="sharecaar_testcases.Signup_TestCase"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
